<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

	<web-app>
		<display-name>Archetype Created Web Application</display-name>
		<servlet>
			<servlet-name>Student</servlet-name>
			<servlet-class>by.liba.student.webservlet.Student</servlet-class>
			<init-param>
				<param-name>123</param-name>
				<param-value>123</param-value>
			</init-param>
		</servlet>

		<servlet-mapping>
			<servlet-name>Student</servlet-name>
			<url-pattern>/student</url-pattern>
		</servlet-mapping>

		<servlet-mapping>
			<servlet-name>Professors</servlet-name>
			<url-pattern>/professors</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>Professors</servlet-name>
			<servlet-class>by.liba.student.webservlet.Professor</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>NewStudent</servlet-name>
			<url-pattern>/nstudent</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>NewStudent</servlet-name>
			<servlet-class>by.liba.student.webservlet.AddStudent</servlet-class>
		</servlet>

		<filter-mapping>
			<filter-name>AutoFilter</filter-name>
			<url-pattern>/*</url-pattern>
		</filter-mapping>

		<filter>
			<filter-name>AutoFilter</filter-name>
			<filter-class>by.liba.student.webservlet.AutoFilter</filter-class>
		</filter>


		<filter>
			<filter-name>LoggerFilter</filter-name>
			<filter-class>by.liba.student.webservlet.LoggerFilter</filter-class>
		</filter>
		<filter-mapping>
			<filter-name>LoggerFilter</filter-name>
			<url-pattern>/*</url-pattern>
		</filter-mapping>



		<servlet>
			<servlet-name>LoginServlet</servlet-name>
			<servlet-class>by.liba.student.webservlet.LoginServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>LoginServlet</servlet-name>
			<url-pattern>/login</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>Marks</servlet-name>
			<servlet-class>by.liba.student.webservlet.Mark</servlet-class>
			<init-param>
				<param-name>123</param-name>
				<param-value>123</param-value>
			</init-param>
		</servlet>
   
		<servlet-mapping>
			<servlet-name>Marks</servlet-name>
			<url-pattern>/marks</url-pattern>
		</servlet-mapping>
		
		<servlet-mapping>
			<servlet-name>NewProfessor</servlet-name>
			<url-pattern>/nprofessor</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>NewProfessor</servlet-name>
			<servlet-class>by.liba.student.webservlet.AddProfessor</servlet-class>
		</servlet>
		
		<listener>		
			<listener-class>by.liba.student.webservlet.StudentsContextListener</listener-class>
		</listener>
		<listener>
			<listener-class>by.liba.student.webservlet.MarkContextListener</listener-class>
		</listener>
		<context-param>
			<param-name>student.file.path</param-name>
			<param-value>D:\\джавапроекты\\gite\\student-app\\libs\\student.csv</param-value>
		</context-param>
		<context-param>
			<param-name>mark.file.path</param-name>
			<param-value>D:\\джавапроекты\\gite\\student-app\\libs\\marks.csv</param-value>
		</context-param>
		<context-param>
			<param-name>professor.file.path</param-name>
			<param-value>D:\\джавапроекты\\gite\\student-app\\libs\\professor.csv</param-value>
		</context-param>

		<resource-env-ref>
			<resource-env-ref-name>jdbc/db</resource-env-ref-name>
			<resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
		</resource-env-ref>
	</web-app>
